@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* Custom Properties */
:root {
  --clr-primary-300: hsl(7, 99%, 70%); /* Cup */
  --clr-primary-200: hsl(51, 100%, 49%); /* Egg */
  --clr-primary-600: hsl(167, 40%, 24%); /*Graphic Design */
  --clr-primary-700: hsl(198, 62%, 26%); /* Photography */
  --clr-primary-500: hsl(168, 34%, 41%); /* Footer BG */

  --clr-neutral-800: hsl(212, 27%, 19%);  /*  h2 */
  --clr-neutral-600: hsl(213, 9%, 39%);
  --clr-neutral-500: hsl(232, 10%, 55%);
  --clr-neutral-300: hsl(210, 4%, 67%); /* Title / Client Testimonials */
  --clr-neutral-100: hsl(0, 0%, 100%); /* Text/Button BG */

  --fs-header: 2.5rem;
  --fs-subheader: 2rem;
  --fs-primary: 1.125rem;
  --fs-secondary: .875rem;

  --ff-primary: 'Barlow', sans-serif;
  --fw-semibold: 600;

  --ff-secondary: 'Fraunces', serif;
  --fw-bold: 700;
  --fw-black: 900;
}
/* General Styling */
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  text-align: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  font-weight: var(--fw-semibold);
  color: var(--clr-neutral-500);
  overflow-x: hidden;
}

header {
  background-image: url('./images/mobile/image-header.jpg');
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: var(--clr-neutral-100);
  padding-top: 2rem;
  padding-inline: 1rem;
  min-width: 100vw;
  position: relative;
}
header > img {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

h1 {  /* Main Header */
  font-family: var(--ff-secondary);
  font-size: var(--fs-header);
  font-weight: var(--fw-black);
  letter-spacing: .5rem;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

h2 {  /* Grid Item Headers */
  font-size: var(--fs-subheader);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-black);
}

h3 {  /* Testimonial Names */
  font-family: var(--ff-secondary);
  font-size: var(--fs-primary);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-800);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: var(--fs-primary);
}

blockquote {
  color: var(--clr-neutral-600);
}

footer {
  background-color: var(--clr-primary-500);
  padding: 2rem;
}

.header-link{
  color: var(--clr-neutral-500);
  transition: 150ms ease-in-out;
}
.header-link:hover {
  color: var(--clr-primary-700);
}
.contact {
  color: var(--clr-neutral-800);
}

.nav-header { 
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: -3rem;
  transform: translateX(-50%);
  background-color: var(--clr-neutral-100);
  width: min(90%, 19.5rem);
  padding-block: 2rem;
  z-index: -1;
  scale: .1;
  transition: 150ms ease-in-out;
  opacity: 0;
}
.nav-header.active{
  left: 50%;
  top: 6rem;
  z-index: 1;
  opacity: 1;
  scale: 1;
}
.nav-header::before {
  content: '';
  position: absolute;
  right: 0;
  top: -1.5rem;

  border: 1.5rem solid;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: var(--clr-neutral-100);
  border-bottom-color: var(--clr-neutral-100);
}

.cancel {
  display: none !important;
}
.hamburger.active {
  display: none;
}
.cancel.active {
  display: inline-block !important;
}

.grid {
  display: grid;
  grid-template-areas:
  "one"
  "two"
  "three"
  "four"
  "five"
  "six"
  "seven"
  "eight"
  "nine";
}
.grid-item {
  padding: 3rem 2rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item:nth-child(1) { /* Egg */
  background-image: url('./images/mobile/image-transform.jpg');
  height: 50vh;
  grid-area: one;
}
.grid-item:nth-child(2) {
  height: 50vh;
  grid-area: two;
}
.grid-item:nth-child(3) { /* Cup */
  background-image: url('./images/mobile/image-stand-out.jpg');
  height: 50vh;
  grid-area: three;
}
.grid-item:nth-child(4) {
  height: 50vh;
  grid-area: four;
}
.grid-item:nth-child(5) { /* Cherry / Graphic Design */
  background-image: url('./images/mobile/image-graphic-design.jpg');
  background-size: cover;
  min-height: 100vh;
  grid-area: five;
}
.grid-item:nth-child(6) { /* Orange / Photography */
  background-image: url('./images/mobile/image-photography.jpg');
  min-height: 100vh;
  grid-area: six;
}
.grid-item:nth-child(7) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-area: seven;
}
.grid-item:nth-child(8) {
  padding: 0;
  grid-area: eight;
  display: grid;
  grid-auto-columns: 1fr;
  min-height: 25rem;
  width: 100%;
  grid-template-areas:
  'one__inner two__inner'
  'three__inner four__inner';
}
.grid-item:nth-child(8) > * {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item__inner:nth-child(1) { /* Milk */
  background-image: url('./images/mobile/image-gallery-milkbottles.jpg');
  grid-area: one__inner;
}
.grid-item__inner:nth-child(2) { /* Orange */
  background-image: url('./images/mobile/image-gallery-orange.jpg');
  grid-area: two__inner;
}
.grid-item__inner:nth-child(3) { /* Cone */
  background-image: url('./images/mobile/image-gallery-cone.jpg');
  grid-area: three__inner;
}
.grid-item__inner:nth-child(4) { /* Sugar Cubes */
  background-image: url('./images/mobile/image-gallery-sugar-cubes.jpg');
  grid-area: four__inner;
}

.learn-more {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-semibold);
  color: var(--clr-neutral-800);
}
.learn-more::after {
  content: "";
  float: left;
  height: .5rem;
  border-radius: 100vmax;
  width: 120%;
  margin-top: -.5rem;
  transform: translateX(-9%);
  opacity: .3;
}
#learn1.learn-more::after {
  background-color: var(--clr-primary-200);
}
#learn2.learn-more::after {
  background-color: var(--clr-primary-300);
}

.nav-link {
  color: var(--clr-neutral-100);
}
.nav-item:nth-child(4) {
  padding: 1rem 2rem;
  background-color: var(--clr-primary-200);
  border-radius: 100vmax;
  font-family: var(--ff-secondary);
}

.testimonial-header {
  font-family: var(--ff-secondary);
  font-size: var(--fs-primary);
  color: var(--clr-neutral-300);
  letter-spacing: .25rem;
}
.testimonial > img {
  border-radius: 100vmax;
  width: 20%;
  margin-top: 2rem;
}
.testimonial > p {
  font-size: var(--fs-secondary);
  margin-top: -1.5rem;
  color: var(--clr-neutral-300);
}

.nav-footer > .nav-item > .nav-link {
  color: var(--clr-primary-600);
}

.socials-link {
  color: var(--clr-primary-600);
}

.attribution { 
  font-size: var(--fs-secondary); 
  text-align: center; 
  color: var(--clr-neutral-100);
}
.attribution a { color: hsl(228, 45%, 44%); }

/* Utility Classes */
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.absolute-bottom {
  position: absolute;
  width: 100%;
  padding: inherit;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.text-primary-600 {
  color: var(--clr-primary-600);
}
.text-primary-700 {
  color:var(--clr-primary-700);
}
.text-neutral-800 {
  color: var(--clr-neutral-800);
}

.underline-primary-200 {
  text-decoration-color: var(--clr-primary-200);
}
.underline-primary-300 {
  text-decoration-color: var(--clr-primary-300);
}

@media (min-width: 31rem) { /* 496 px */
  header {
    background-image: url('./images/desktop/image-header.jpg');
  }
}

@media (min-width: 38.5rem) { /* 616 px */
  .hamburger {
    display: none !important;
  }
  .nav-header {
    flex-direction: row;
    position: static;
    transform: none;
    background-color: transparent;
    width: auto;
    padding-block: 0;
    scale: 1;
    opacity: 1;
  }
  .nav-header::before {
    border-color: transparent;
  }
  .header-link{
    color: var(--clr-neutral-100);
    transition: 150ms ease-in-out;
  }
  .contact {
    color: var(--clr-neutral-800);
  }
  .nav-item:nth-child(4) {
    background-color: var(--clr-neutral-100);
    transition: 150ms ease-in-out;
  }
  .nav-item:nth-child(4):hover {
    background-color: hsl(198, 62%, 45%);
  }
  .nav-item:nth-child(4):hover > .contact {
    color: var(--clr-neutral-100);
  }

  .grid {
    grid-auto-columns: 1fr;
    grid-template-areas:
    'two one'
    'four three'
    'five six'
    'seven seven'
    'eight eight'
    'nine nine';
  }

  .grid-item:nth-child(1) { /* Egg */
    background-image: url('./images/desktop/image-transform.jpg');
    height: 70vh;
    grid-area: one;
  }
  .grid-item:nth-child(2) {
    height: 70vh;
    grid-area: two;
  }
  .grid-item:nth-child(4) {
    height: 70vh;
    grid-area: three;
  }
  .grid-item:nth-child(3) { /* Cup */
    background-image: url('./images/desktop/image-stand-out.jpg');
    height: 70vh;
    grid-area: four;
  }
  .grid-item:nth-child(5) { /* Cherry / Graphic Design */
    background-image: url('./images/desktop/image-graphic-design.jpg');
  }
  .grid-item:nth-child(6) { /* Orange / Photography */
    background-image: url('./images/desktop/image-photography.jpg');
  }

  .grid-item__inner:nth-child(1) { /* Milk */
    background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
  }
  .grid-item__inner:nth-child(2) { /* Orange */
    background-image: url('./images/desktop/image-gallery-orange.jpg');
  }
  .grid-item__inner:nth-child(3) { /* Cone */
    background-image: url('./images/desktop/image-gallery-cone.jpg');
  }
  .grid-item__inner:nth-child(4) { /* Sugar Cubes */
    background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
  }
}

@media (min-width: 46rem) {/* 736 px */
  ul {
    gap: 2rem;
  }

  h2 {
    font-size: 3rem;
  }

  .testimonial-wrapper {
    display: flex;
    gap: 3rem;
    padding: 4rem;
  }

  .grid-item:nth-child(2), .grid-item:nth-child(4) {
    text-align: left;
    padding-inline: 20%;
  }

  .grid-item:nth-child(5) { /* Cherry / Graphic Design */
    background-image: url('./images/desktop/image-graphic-design.jpg');
  }
  .grid-item:nth-child(6) { /* Orange / Photography */
    background-image: url('./images/desktop/image-photography.jpg');
  }

  .grid-item:nth-child(8) {
    min-height: 60vh;
    grid-template-areas:
    'one__inner two__inner three__inner four__inner';
  }
}